
.container{
	margin: 0px 0px;
}
/* .page-container-2{
	position: relative;
	min-height: 100vh;
	overflow:hidden;
	padding-bottom: 15vh;
} */
body{
	margin: 0 0;
}
.sticky{
	position: fixed;
	background-color: white;
	box-shadow: 0px, 4px, 10px, rgb(0, 0, 0, 0.2);
	top: 0;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container {
	padding-top: 50px;
}
#blog-header{

	background-color: pink; /* For browsers that do not support gradients */
  	background-image: linear-gradient(to bottom right, cornflowerblue, pink);
}
.header{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width:100vw;
	height: 400px;
}
.blog-title{
	padding-left: 5vw;
	line-height: 55px;
	margin: 5px 10px;
}
#post-header-title{ 
	/* for positioning, since this needs to be overlapping w the image */
	margin: -400px 0 0 0px;
	color: white;
	text-shadow: -2px 2px 5px rgb(0, 0, 0, 0.2);
	background: transparent;
	background: linear-gradient(0deg, rgba(0,0,0,0.82) 0%, rgba(179,179,179,0.8224) 40%, rgba(255,255,255,0) 100%);
}
h3{
	font-family:'Playfair Display', serif;
	font-size: 64px;
}

.posts{
	width: 100vw;
	height: 300px;
	margin: -150px 0 0 0;
	padding: 20px 10px 20px 0px;
}
.post-wrapper{
	width: 190px;
	height: 210px;
	padding: 20px;
	list-style-type: none;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.2);
	margin: 10px 10px 10px 40px;
}
.post-date{
	float: left;
	margin: 10px 40px 10px 0px;
}
.post-title{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	line-height: 40px;
	color: black;
}
.post-container{
	margin: 70px 40px 0px 40px;
}
.post-header-img{
	margin:0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}
.post-header-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
#down-button{
	position:absolute;
	margin:-70px 0 0 50vw;
}
a{
	text-decoration: none;
	color: white;
}
#footer.a{
	text-decoration: none;
	color: white;
}
