
.container{
	position: absolute;
	margin: 50px 0px;
}
.page-container-2{
	position: relative;
	min-height: 100vh;
	overflow:hidden;
	padding-bottom: 15vh;
}
body{
	margin: 0 0;
}
#blog-header{
	position: absolute;
	display: flex;
	align-items: center;
	width:100vw;
	height: 150px;
}
.blog-title{
	padding-left: 10vw;
}
h3{
	font-family:'Playfair Display', serif;
	font-size: 64px;
}

.posts{
	position: absolute;
	width: 80vw;
	border-right: black 1px solid;
	margin: 170px 0 0 0;
	padding: 20px 10px 20px 0px;
}
.post-wrapper{
	width: 70vw;
	padding-left: 10vw;
	list-style-type: none;
}
.post-date{
	float: right;
	margin-right: 30px;
}
.post-title{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 50px;
	color: black;
}
a{
	text-decoration: none;
}
#footer.a{
	text-decoration: none;
	color: white;
}
