
.container{
	margin: 0px 0px;
}
/* .page-container-2{
	position: relative;
	min-height: 100vh;
	overflow:hidden;
	padding-bottom: 15vh;
} */
body{
	margin: 0 0;
}
#blog-header{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width:100vw;
	height: 400px;
	background-color: pink; /* For browsers that do not support gradients */
  	background-image: linear-gradient(to bottom right, cornflowerblue, pink);
}
.blog-title{
	padding-left: 5vw;
	line-height: 55px;
	margin: 5px 10px;
}
h3{
	font-family:'Playfair Display', serif;
	font-size: 64px;
}

.posts{
	width: 100vw;
	height: 300px;
	margin: -150px 0 0 0;
	padding: 20px 10px 20px 0px;
}
.post-wrapper{
	width: 200px;
	height: 180px;
	padding: 20px;
	list-style-type: none;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.2);
	margin: 10px 10px 10px 40px;
}
.post-date{
	float: left;
	margin: 10px 40px 10px 0px;
}
.post-title{
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	line-height: 40px;
	color: black;
}
a{
	text-decoration: none;
	color: white;
}
#footer.a{
	text-decoration: none;
	color: white;
}
