@charset "ISO-8859-1";
.content{
	width: 100%;
	padding: 0;
	margin: 0;
}
#home{
	background-color: #FFFFFF;
	height:500px;
	display: flex;
	justify-items: right;
}
h1{ 
	font-size:96px;
	line-height:100px;
}
#home-description{
	position: absolute;
	margin: 20px 0px 0px 450px ;
	padding: 5px 0 5px 10px;
	width:300px;
	border-left: black 1px solid;
}
#pfp{
	width:350px;
	position: absolute;
	top:120px;
	left:60px;
}
#fullname{
	margin: 70px 0px 0px 350px;
}

.display-topleft{position:absolute;left:0;top:0}
.display-topright{position:absolute;right:0;top:0}
.display-bottomleft{position:absolute;left:0;bottom:0}
.display-bottomright{position:absolute;right:0;bottom:0}
.padding-small{padding:4px 8px!important}
.padding{padding:8px 16px!important}
.padding-large{padding:12px 24px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-24{padding-top:24px!important;padding-bottom:24px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}
.padding-48{padding-top:48px!important;padding-right:48px!important;padding-bottom:48px!important}
.padding-48-lr{padding-left:48px!important;padding-right:48px!important;}
.padding-64{padding-top:64px!important;padding-bottom:64px!important;}
.padding-64-lr{padding-right:64px!important;padding-left:64px!important;}
.display-container{position:relative}
.quicksand{
	font-family: 'Quicksand', sans-serif;
}
.playfair{
	font-family:'Playfair Display', serif;
}
p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}
.small-heading{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
.topnav{
	padding-left: 10px;
	background-color: transparent;
	overflow: hidden;
	position: absolute;
	z-index: 3;
	width: 100vw;
}
/*links inside  navigation bar */
.topnav a {
	float: left;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #000000;
	text-align: center;
	padding: 25px 30px 2px 30px;
	font-size: 17px;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border .2s;
  }
/* Change the color of links on hover */
.topnav a:hover {
	border-color: black;
	
  }
.float-right{
	float:right;
	margin-right:25px;
}
#block1{
	background-color: #EDDFD3;
	position: absolute;
	margin-left:10%;
	margin-top: -5px;
	z-index:0;
	width: 90vw;
	height: 80vh;

}
.responsive {
  max-width: 100%;
  height: auto;
}
.black{
	color:#272727;
}
/***colors:
grey: #CACFD6
black: #272727
pink: #FFCAD4
yellow: FED766
blue: #2F6690
****/