<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="topnav" id="topnav">

				<a class="active" href="#home">Home</a>
				<a href="#projects">Projects</a>
				<a href="#portfolio">Portfolio</a>
				<a href="https://lingelizabeth.github.io/blog/">Blog</a>
				<div class="float-right"><a href="#contact" >Contact</a></div>
				
			  </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/elizabeth-ling-50a417197/">linkedin</a></li>
	        		<li><a href="https://github.com/lingelizabeth">github.com/lingelizabeth</a></li>
				</ul>
			</footer>
		</body>
	</html>
