---
layout: default
---
<div class="post-header-img">
  {% if page.related_image %}
    <img src="{{ page.related_image }}" alt="">
  {% endif %}
</div>

<div class="header" id="post-header-title">
  <h3 class="blog-title">{{ page.title }}</h3>
  <p class="meta blog-title">{{ page.date | date_to_string }}</p>
</div>

<i href="#post-start" class="fas fa-chevron-down" style="position:absolute;margin:-100px 0 0 45vw;"></i>


<div class="post-container" id="post-start">
  <p class="large-heading" style="padding-bottom: 20px;">{{ page.title }}</p>
  <p>{{ page.date | date_to_string }} | By Elizabeth Ling</p>
  {{ content }}
</div>
